In [23]:
import pyodbc 
import pandas as pd
import json
import collections

In [24]:
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=localhost\MSSQLSERVER01;'
                      'Database=index;'
                      'Trusted_Connection=yes;')


cursor = conn.cursor()

cursor.execute('SELECT * FROM dbo.index_data')
rows = cursor.fetchall()

rowarray_list = []
for row in rows:
    t = (row[0], row[1], row[2])
    rowarray_list.append(t)
    
j = json.dumps(rowarray_list)

# Convert query to objects of key-value pairs
objects_list = []
for row in rows:
    d = collections.OrderedDict()
    d["index_name"] = row[1]
    d["index_symbol"] = row[2]
    objects_list.append(d)

j = json.dumps(objects_list)

print(j)

conn.close()

[{"index_name": "FTSE 100", "index_sybol": "UKX       ", "company_name": "PERSHING SQUARE HOLDINGS LTD ORD NPV", "company_index": "PSH       "}, {"index_name": "FTSE 100", "index_sybol": "UKX       ", "company_name": "ADMIRAL GROUP PLC ORD 0.1P", "company_index": "ADM       "}, {"index_name": "FTSE 100", "index_sybol": "UKX       ", "company_name": "AVEVA GROUP PLC ORD 3 5/9P", "company_index": "AVV       "}, {"index_name": "FTSE 250", "index_sybol": "MCX       ", "company_name": "RENISHAW PLC ORD 20P", "company_index": "RSW       "}, {"index_name": "FTSE 250", "index_sybol": "MCX       ", "company_name": "HAMMERSON PLC ORD 5P", "company_index": "HMSO      "}, {"index_name": "FTSE 250", "index_sybol": "MCX       ", "company_name": "ROTORK PLC ORD 0.5P", "company_index": "ROR       "}]

In [20]:
new_conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=localhost\MSSQLSERVER01;'
                      'Database=index;'
                      'Trusted_Connection=yes;')


new_cursor = new_conn.cursor()

#new_cursor.execute('SELECT * FROM dbo.stock_data')
sql_query = pd.read_sql_query('SELECT * FROM dbo.stock_data',new_conn)
print(sql_query)

FTSE 100
FTSE 100
FTSE 100
FTSE 250
FTSE 250
FTSE 250