In [20]:
import mysql.connector

In [31]:
import mysql.connector

mydb = mysql.connector.connect(
  host="investment.cgwmqkwedlgo.us-east-1.rds.amazonaws.com",
  user="Rafayet",
  password="Cloud2021",
  database="Invest"
)

mycursor = mydb.cursor()

mycursor.execute("select * from index_data")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 'FTSE 100', 'UKX')
(2, 'FTSE 250', 'MCX')
(3, 'FTSE 350', 'NMX')

In [27]:
# Perform the select statement and extract the rows for the index
sql_script = 'SELECT * FROM index_data WHERE index_symbol = \'' + 'MCX' + '\''

mycursor = mydb.cursor()

mycursor.execute(sql_script)
rows = mycursor.fetchall()

# For each row append the relevant data to an array
rowarray_list = []
for row in rows:
        t = (row[0], row[1], row[2])
        rowarray_list.append(t)

# Convert the array into JSON
j = json.dumps(rowarray_list)

# Convert JSON to key-value pairs
objects_list = []
for row in rows:
        d = collections.OrderedDict()
        d["index_id"] = row[0]
        d["index_name"] = row[1]
        d["index_symbol"] = row[2]
        objects_list.append(d)

# Convert key-value pairs to JSON
response = json.dumps(objects_list)

NameError: name 'json' is not defined

In [30]:
mycursor = mydb.cursor()
        
# Define input variables
pk_index_id = 11
index_name = "TEST"
index_symbol = "TEST"
pk_index_id = str(pk_index_id)

# Create the appropriate SQL script
script = 'INSERT INTO index_data (pk_index_id, index_name, index_symbol) VALUES (\'' + pk_index_id + '\', \'' + index_name + '\', \'' + index_symbol + '\')'


# Execute the SQL statement
mycursor.execute(script)

In [35]:
mycursor = mydb.cursor()
       
# Define input variables
index_symbol = "TEST"
pk_index_id = 20
index_name = "Test2"
pk_index_id = str(pk_index_id)

# Create the appropriate SQL script
script = 'UPDATE index_data SET pk_index_id = \''+ pk_index_id + '\', index_name = \'' + index_name + '\' WHERE index_symbol = \'' + index_symbol + '\''

print(script)
# Execute the SQL statement
mycursor.execute(script)
mydb.commit()
print(mycursor.rowcount, "record(s) affected")

UPDATE index_data SET pk_index_id = '20', index_name = 'Test2' WHERE index_symbol = 'TEST'
1 record(s) affected

In [ ]:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"
       UPDATE index_data SET pk_index_id = '20', index_name = 'Test2' WHERE index_symbol = 'TEST'


mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) affected")